body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    background: linear-gradient(to right, aquamarine, black);
    color: white;
}

a{
    text-decoration: none;
    border: solid 1px black;
    color: white;
    padding: 12px 48px;
    margin: 50px;
    border-radius: 10px;
}

.content{

    text-align: center;
}

.title{

    margin: 50px;
}

.subtitle{

    margin: 50px;
}